@model Lesson6_2.Models.RegistrationModel
@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>

@using(Html.BeginForm()){
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    @:<input type="submit" value="Registration" />
}