
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Create", "Create", "Products", new { area = "Admin" }, null)

@Html.ActionLink("Delete", "Delete", "Products", new { area = "Admin" }, null)